@import "tailwindcss";

@font-face {
  font-family: 'Fustat-Medium';
  src: url('./assets/fonts/Fustat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Medium';
  src: url('./assets/fonts/Outfit-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nohemi-Bold';
  src: url('./assets/fonts/Nohemi-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@theme {
  --font-fustat-medium: "Fustat-Medium", sans-serif;
  --font-Outfit-medium: "Outfit-Medium", sans-serif;
  --font-Outfit: "Outfit", sans-serif;
  --font-Nohemi-bold: "Nohemmi-Bold", sans-serif;
}